{% extends "blog/base.html" %}
{% block content %}
	
	<hr size="30">
	<div class="row">
		
		
		<div class="column left">
				<img style= "float:left" src="{{ s_user.profile.image.url }}" width="200" height="200">
				<br> <br> <br> <br> <br> <br> <br>
				<div>
					{% if s_user.profile.instagram %}
						<h6> <a href="https://www.instagram.com/{{s_user.profile.instagram}}"><img src="https://phelanstorage1.s3.us-east-2.amazonaws.com/socialmediaicons/instapic.png" width="50" height="50"> </a> </h6>
					{% endif %}
				</div>
				<div>
					{% if s_user.profile.twitter %}
						<h6> <a href="https://twitter.com/{{s_user.profile.twitter }}"><img src="https://phelanstorage1.s3.us-east-2.amazonaws.com/socialmediaicons/twittapic.png" width="50" height="50"> </a> </h6>
					{% endif %}
				</div>
				<div>
					{% if s_user.profile.facebook %}
						<h6> <a href="https://www.facebook.com/{{s_user.profile.facebook}}"><img src="https://phelanstorage1.s3.us-east-2.amazonaws.com/socialmediaicons/facebookpic.png" width="50" height="50"> </a> </h6>
					{% endif %}
				</div>
				<div>
					{% if s_user.profile.linkedin %}
						<h6> <a href="https://www.linkedin.com/in/{{s_user.profile.linkedin }}"><img src="https://phelanstorage1.s3.us-east-2.amazonaws.com/socialmediaicons/linkapic.png" width="50" height="50"> </a> </h6>
					{% endif %}
				</div>



				<div>
					{% for x in S_Social %}
						<h6> <a href="{{ x.link }}">{{ x }} </a> </h6>
					{% endfor %}
				</div>
		</div>
		<div class="column right">
			<div class="wrapper">
				<h3 style="display:inline;" class="mb-3"><strong> {{ s_user.first_name }} {{ s_user.last_name }} &emsp; </strong></h3> 
				<!--<a style="display:inline; " class="btn btn-outline-info mb-4" href="{% url 'editprofile' %}">Edit Profile</a> -->	
			</div>
				{% if s_user == user %}
					<a href="{% url 'editprofile' %}" class="button button1" style="text-decoration: none;height:65px;" >edit profile</a> 
				{% endif %}
			<br>
			<h3 style ="font-style:italic"> Bio: </h3>
			<h5 style="text-align: left;">{{ s_user.profile.bio }}</h5>
		</div>
	</div>
	<h3> ({{ page_obj.paginator.count}}) posts </h3> <hr style="height:1px; visibility:hidden;" />
	{% for post in posts %}
		<article class="media content-section">
		  <img class="square article-img" src="{{ post.author.profile.image.url }}">
		  <div class="media-body">
		    <div class="article-metadata">
		      <a class="mr-2" href="{% url 'user-posts' post.author.username %}">{{ post.author }}</a>
		      <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
		    </div>
		    <h2><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h2>
		    <p class="article-content">{{ post.content }}</p>
		  </div>
		</article>
	{% endfor %}
	{% if is_paginated %}
		{% if page_obj.has_previous %}
			<a class="btn btn-outline-info mb-4" href="?page=1">First</a>
			<a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
		{% endif %}
		{% for num in page_obj.paginator.page_range %}
			{% if page_obj.number == num %}
				<a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
			{% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3'%}
				<a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
			{% endif %}
		{% endfor %}

		{% if page_obj.has_next %}
			<a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
			<a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
		{% endif %}

	{% endif %}
{% endblock content %}  


<!---- {{ view.kwargs.username }}


